@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter-Regular.otf'),
  url(Inter-Regular.otf); 
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter-Bold.otf'),
  url(Inter-Bold.otf); 
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local('Inter-Black.otf'),
  url(Inter-Black.otf); 
}