 .header{
    max-width: 1184px;
    padding-top: 28px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom:48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
@media screen and (max-width: 1060px) {
.header{
    max-width: 928px;
    }
    }
@media screen and (max-width: 810px) {
.header{
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;
}
}
@media screen and (max-width: 425px) {
.header{
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 288px;
} 
}

 